<div class="small-10 small-offset-1 columns text-center">
	<h1>WELCOME TO GRADE+AID</h1>
	<h2>A beautiful grade visualization helper.<h2>

	{{#link-to 'users.new' class="button large"}}Sign Up!{{/link-to}}
	
</div>